.navBarItem{
    
    display: block;
    padding: .5rem .5rem;
    background-color: transparent;
    color: gray;
}
.navBarItem:hover{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.774);
}
.navLogo{
    display: block;
    background-color: transparent;
    color: white;
}
.navLogo:hover{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.774);
}