.navBarItem{
    display: block;
    padding: .5rem .5rem;
    background-color: transparent;
    color: black;
    font-family: Helvetica;
    font-weight: 300;
}
.bg-blue{
    background-color: #ff8201cf;
}

.loginRegister:hover{
    text-decoration: none;
}
.navBarItem:hover{
    text-decoration: none;
    color: black;
}


