.headerContainer{
    text-align: center;
    font-weight: 300;
    padding:50px;
    margin: 1rem !important;
    font-family: Helvetica;
    font-weight: 200;
    max-width:800px;
    background-color: "f5f5f5" !important;
}
.headerHeaderText{
    font-size: 20;
}