.skyBlueButtonContainer{
    background-color: rgb(31,78,121);
    padding: .5rem 1rem;
    border-radius: 20px;
    color:rgb(0, 0, 0);
    text-align: center;
    position: relative;
    max-width: 200px;
    align-self: center;
}
.title{
    text-align: center;
    font-family: Helvetica;
    font-weight: 400;
    left:50%;
    align-self: center;
}
.skyBlueButtonContainer:hover{
    color: white;
    text-decoration: none;
    background-color:rgb(243,106,21);
    cursor:grab;
}