.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}
.form{
    width:400px;
    margin: 20px;
    background-color: beige;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px 5px black;
}
